
@import url('https://fonts.googleapis.com/css?family=Roboto:100i,300,400,500,700');

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.home {
  font-family: 'Roboto', sans-serif;
  background: black;
  .main-container {
    text-align: center;
    width: 100vw;
    height: 90vh;
    background-color: black;
    .transparet-background{
      opacity: 0.7;
    }

    h1, h2 {
      color: #EDEDED;
    }
    h1 {
      font-weight: 500;
    }

    h2 {
      font-weight: 100;
      margin-top: 0px;
    }

    .home-buttons {
      text-align: center;
    }
  }
}

.purple-button {
  background: #8600CA !important;
  color: white !important;
  border: #8600CA solid 1px !important;
}


.toolbar {
  font-family: 'Roboto', sans-serif;
  width: 60vw;
  height: 6vh;
  min-height: 60px;
  background: #502274;
  color: #EDEDED;
  display: inline-grid;
  font-weight: 100;
  font-style: italic;
  padding-left: 20vw;
  padding-right: 20vw;
  display: flex;

  .uk-dropdown {
    min-width: 120px !important;
    background: #502274;
    color: white;
    a {
      color: white;
      &:hover {
        color: #ebebeb;
      }
    }
  }

  p {
    margin-top: auto;
    margin-bottom: auto;
  }

  .logo {
    display: inline-block;
    float: left;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: 700;
    font-size: 24px;
    font-style: initial;
  }

  .options {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    width: 30px;
    border: solid 0px;
    a {
      font-style: initial;
      &:hover {
        text-decoration: none;
        font-weight: 500;
      }
    }
  }
}

.footer {
  font-family: 'Roboto', sans-serif;
  width: 100vw;
  height: 10vh;
  background: #502274;
  color: #EDEDED;
  text-align: center;
  display: inline-grid;
  font-weight: 100;
  font-style: italic;
  p {
    margin-top: auto;
    margin-bottom: auto;
  }
}

.login {
  background: url('/images/lalaland.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  overflow-y: auto !important;
  height: 90vh;
  font-family: 'Roboto' !important;
  color: #ffffff !important;
  .uk-button-login {
    background-color: #502274 !important;
    color: #ffffff !important;
    font-weight: bold;
  }

  .uk-link-text{
  	color: #502274 !important;
  }

  .login-container {
    margin-top: auto;
    margin-bottom: auto;

    .login-form {
      height: 100%;
      max-width: 450px;
      min-width: 300px;
      padding-bottom: 0px!important;

      .uk-form-label {
        color: #502274 !important;
      }
      .uk-input {
        color: #707070;
        font-weight: 300;
        border: #f0f0f0 solid 1px;
      }
      .uk-form-danger {
        color: #f0506e;
        border-color: #f0506e;
      }
      .uk-select {
        font-weight: 300;
      }
    }

    .login-title {
      color: #ffffff !important;
      font-weight: 300;
      font-family: 'Roboto' !important;
    }

  }
}


.signup {
  background: url('/images/blade_runner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  overflow-y: auto !important;
  height: 90vh;
  font-family: 'Roboto' !important;
  color: #ffffff !important;
  .uk-button-signup {
    background-color: #502274 !important;
    color: #ffffff !important;
    font-weight: bold;
  }

  .signup-container {
    margin-top: auto;
    margin-bottom: auto;

    .signup-form {
      height: 100%;
      max-width: 450px;
      min-width: 300px;
      padding-bottom: 0px!important;

      .uk-form-label {
        color: #502274 !important;
      }
      .uk-input {
        color: #707070;
        font-weight: 300;
        border: #f0f0f0 solid 1px;
      }
      .uk-form-danger {
        color: #f0506e;
        border-color: #f0506e;
      }
      .uk-select {
        font-weight: 300;
      }
    }

    .signup-title {
      color: #ffffff !important;
      font-weight: 300;
      font-family: 'Roboto' !important;
    }
  }
}

.profile {
  font-family: 'Roboto' !important;
  .uk-iconnav>* {
    padding-left: 3px !important;
  }
  .date-change{
    width: 85%;
  }
  .check {
    width: 20px !important;
    min-width: 20px !important;
    width: 24px !important;
    min-width: 20px !important;
    padding-left: 1px;
    padding-right: 4px;
    background: #8600ca;
    color: white;

  }
  .uk-background-cover {
    background: url("/images/hogwarts.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow-y: auto !important;
    height: 50%;
    display: block;
    color: #ffffff !important;
    padding-bottom: 0px !important;
    padding-top: 4%;
  }
  .uk-button-save-changes {
    background-color: #502274 !important;
    color: #ffffff !important;
    font-weight: bold;
  }

  .uk-link-text{
  	color: #502274 !important;
  	font-size: 0.575rem;
  	margin-left: 0px;
  	margin-bottom: 0px;
  	padding-top: 4px;
  }
  .profile-container {
    margin-top: -50px;
    margin-bottom: auto;
    font-weight: 300;

    .button-switcher{
       text-align: right;

       .uk-button{
            padding: 0 15px;
            border-color: transparent;
            color: #ccc;
       }

       .uk-button-default.uk-active, .uk-button-default:active .uk-icon{
    	   color: #333;
		}
    }

    .uk-switcher {
     p{
      margin-bottom: 0px;
     }
     .uk-text-muted{
      margin-bottom: 10px;
      margin-top: 5px;
      font-size: 13px;
     }

     .uk-divider-icon {
      margin-top: 0px;
     }
    }

    .uk-tab>.uk-active>a {
     border-color: #8600ca !important;
	}

    .uk-width-1-2{
   	  p{
   	  	margin-bottom: 0px;
   	  	width: 300px
   	  }
    }

    .uk-list-divider>li:nth-child(n+2) {
       border-top: 1px solid #f7f7f7;
    }

    .uk-card-primary{
       background: #fff;
       box-shadow: none;

       .uk-text{
          color: #666;
       }

       .uk-text-muted{
          color: #999 !important;
       }

       .uk-card-body{
          padding-left: 0px;
          padding-top: 5px;
       }
    }

    .uk-list ul .uk-iconnav{
       padding-left: 0px;
    }
  }
  .profile-image {
    border-style: solid;
  }
  .profile-name {
    text-shadow: 1px 1px 2px black, 0 0 1em #000000, 0 0 0.2em #000000;
    margin: 2px;
  }
  .profile-username {
    text-shadow: 1px 1px 2px black, 0 0 1em #000000, 0 0 0.2em #000000;
    margin-top: 2px;
    margin-bottom: 80px;
  }
}

.movie {
  font-family: 'Roboto' !important;
  .uk-background-cover {
    z-index: -1;
    background: url("/images/It-Follows-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow-y: auto !important;
    height: 30vh;
    display: block;
    color: #ffffff !important;
    padding-bottom: 0px !important;
    padding-top: 4%;
    position: relative;
  }
  .title {
    bottom: 10px;
    position: absolute;
    font-size: 4vh;
    font-weight: 100;
    margin-left: auto;
    margin-right: auto;
  }

  .sinopsis {
    text-align: justify;
    width: 540px;
  }

  .rating {
    float: right;
    margin-top: -100px;
    color: white;
    font-size: 28px;
    font-weight: 100;
    padding-right: 20px;
    display: flex;

    .rating-value {
      display: inline;
      font-size: 30px;
      padding-left: 8px;
    }
  }

  .left-bar {
    float: right;
    margin-top: -140px;
  }
  .watch-button {
    display: block;
    width: 191px;
    border: 1px solid #FFFFFF;
    font-size: 10px !important;
    &.watched {
      color: white;
      background: #773095;
    }
  }
  .poster {
    box-shadow: 0 0px 10px rgba(0,0,0,0.1);
    border: 4px solid white;
  }

  .section {
    margin-top: 8px;
    margin-bottom: 4px;

    .cast-info{
      width: 156px;
      display: flex;

      .cast-image {
        height: 100px;
      }
      .cast-name {
        padding-left: 6px;
        display: block;
        margin-top: auto;
        margin-bottom: auto;
      }
    }
  }
  .section-title {
    font-size: 2.5vh;
    color: #773095;
    font-weight: 100;
  }
  p{
    margin-top: 0px;
    font-size: 14px;
  }
}

.tvshow {
  font-family: 'Roboto' !important;
  .uk-background-cover {
    z-index: -1;
    background: url("/images/changeling.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow-y: auto !important;
    height: 30vh;
    display: block;
    color: #ffffff !important;
    padding-bottom: 0px !important;
    padding-top: 4%;
    position: relative;
  }
  .title {
    bottom: 10px;
    position: absolute;
    font-size: 4vh;
    font-weight: 100;
    margin-left: auto;
    margin-right: auto;
  }

  .sinopsis {
    text-align: justify;
    width: 540px;
  }

  .rating {
    float: right;
    margin-top: -100px;
    color: white;
    font-size: 28px;
    font-weight: 100;
    padding-right: 20px;
    display: flex;

    .rating-value {
      display: inline;
      font-size: 30px;
      padding-left: 8px;
    }
  }

  .left-bar {
    float: right;
    margin-top: -140px;
  }
  .watch-button {
    display: block;
    width: 191px;
    border: 1px solid #FFFFFF;
    font-size: 10px !important;
    &.watched {
      color: white;
      background: #773095;
    }
  }
  .poster {
    box-shadow: 0 0px 10px rgba(0,0,0,0.1);
    border: 4px solid white;
  }

  .section {
    margin-top: 8px;
    margin-bottom: 4px;

    .cast-info{
      width: 156px;
      display: flex;

      .cast-image {
        height: 100px;
      }
      .cast-name {
        padding-left: 6px;
        display: block;
        margin-top: auto;
        margin-bottom: auto;
      }
    }
  }
  .section-title {
    font-size: 2.5vh;
    color: #773095;
    font-weight: 100;
  }
  p{
    margin-top: 0px;
    font-size: 14px;
  }
}

.content {
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.uk-badge {
  border-radius: 0px !important;
  &.purple {
    background: #502274;
  }
}
