
@import url('https://fonts.googleapis.com/css?family=Roboto:100i,300,400,500,700');

.home {
  font-family: 'Roboto', sans-serif;
  background: black;
  .main-container {
    text-align: center;
    width: 100vw;
    height: 90vh;
    background-color: black;
    .transparet-background{
      opacity: 0.7;
    }

    h1, h2 {
      color: #EDEDED;
    }
    h1 {
      font-weight: 500;
    }

    h2 {
      font-weight: 100;
      margin-top: 0px;
    }

    .home-buttons {
      text-align: center;
    }
  }
}

.purple-button {
  background: #8600CA !important;
  color: white !important;
  border: #8600CA solid 1px !important;
}

.footer {
  font-family: 'Roboto', sans-serif;
  width: 100vw;
  height: 10vh;
  background: #502274;
  color: #EDEDED;
  text-align: center;
  display: inline-grid;
  font-weight: 100;
  font-style: italic;
  p {
    margin-top: auto;
    margin-bottom: auto;
  }
}

.login {
  background: url('/images/lalaland.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  overflow-y: auto !important;
  height: 90vh;
  font-family: 'Roboto' !important;
  color: #ffffff !important;
  .uk-button-login {
    background-color: #502274 !important;
    color: #ffffff !important;
    font-weight: bold;
  }

  .uk-link-text{
  	color: #502274 !important;
  }

  .login-container {
    margin-top: auto;
    margin-bottom: auto;

    .login-form {
      height: 100%;
      max-width: 450px;
      min-width: 300px;
      padding-bottom: 0px!important;

      .uk-form-label {
        color: #502274 !important;
      }
      .uk-input {
        color: #707070;
        font-weight: 300;
        border: #f0f0f0 solid 1px;
      }
      .uk-form-danger {
        color: #f0506e;
        border-color: #f0506e;
      }
      .uk-select {
        font-weight: 300;
      }
    }

    .login-title {
      color: #ffffff !important;
      font-weight: 300;
      font-family: 'Roboto' !important;
    }

  }
}


.signup {
  background: url('/images/blade_runner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  overflow-y: auto !important;
  height: 90vh;
  font-family: 'Roboto' !important;
  color: #ffffff !important;
  .uk-button-signup {
    background-color: #502274 !important;
    color: #ffffff !important;
    font-weight: bold;
  }

  .signup-container {
    margin-top: auto;
    margin-bottom: auto;

    .signup-form {
      height: 100%;
      max-width: 450px;
      min-width: 300px;
      padding-bottom: 0px!important;

      .uk-form-label {
        color: #502274 !important;
      }
      .uk-input {
        color: #707070;
        font-weight: 300;
        border: #f0f0f0 solid 1px;
      }
      .uk-form-danger {
        color: #f0506e;
        border-color: #f0506e;
      }
      .uk-select {
        font-weight: 300;
      }
    }

    .signup-title {
      color: #ffffff !important;
      font-weight: 300;
      font-family: 'Roboto' !important;
    }
  }
}
