<div class="news-post-area">
  <a ng-click="postNews()">Postar</a>


  <div class="buttons-area">
    <button  class="uk-button uk-button-default dark-purple-button" ng-click="creatingNews = !creatingNews">
      <span class="hover-text">Post news</span> <span uk-icon="pencil"></span>
    </button>
  </div>

  <div class="uk-margin" ng-show="creatingNews">
    <button  class="uk-button uk-button-default dark-purple-button" ng-show="creatingNews">
      <span  uk-icon="link"></span>
    </button>
    <input class="uk-input" type="text" placeholder="Link for the news" ng-model="temp_news.link" ng-change="loadInfo()">

    <button  class="uk-button uk-button-default dark-purple-button" ng-show="creatingNews">
      <span uk-icon="hashtag"></span>
    </button>
    <input class="uk-input" type="text" ng-mouseenter="show_suggestions = true" placeholder="Who is this news about?" ng-model="nameSearch" ng-change="loadAutoComplete()">
    <div class="suggestions-box" ng-class="{show:nameSearch}" ng-show="show_suggestions" ng-mouseleave="show_suggestions = false">
      <div ng-repeat="suggestion in autoCompleteSuggestions" class="suggestion-item" ng-click="toggleRelated(suggestion)">
        {{suggestion.name}}
     </div>
  </div>

  <div ng-if="newsInfo && validLink()" class="news-posting-preview">
    <div class="news-posting-image" style="background: url({{newsInfo.ogImage}}) center; background-size:cover; "></div>
    <div class="news-text-info">
      <h5> {{newsInfo.title}}</h5>
      <p>{{newsInfo.desc}} </p>
    </div>
  </div>

  <div class="related-box">
    <div ng-repeat="related in temp_news.relateds" class="related-item" ng-click="toggleRelated(related)">
      {{related.name}} <span uk-icon="close"></span>
    </div>
  </div>
</div>
</div>
