<div class="home">
  <div class="uk-cover-container main-container">
      <img src="/images/main_background.jpg" class="transparet-background" alt="" uk-cover>
      <div class="uk-overlay uk-position-center">
        <h1 class="uk-heading-hero">Kitso</h1>
        <h2 class="uk-heading-divider"> You watch it, we save it!</h2>
        <div class="home-buttons">
          <button class="uk-button uk-button-default purple-button">Login</button>
          <button class="uk-button uk-button-default purple-button">Registrar</button>
        </div>

           </div>

  </div>
</div>
<div class="footer">
  <p> Kitso © 101 Toppers. Todos os direitos reservados. </p>
</div>
