<div class="movie">
  <!--Cover Content-->
  <div class="uk-background-cover" align="center" style="background-image: url({{ movie.images.cover }})">
    <div class="uk-width-xxlarge">
      <div class="title">{{movie.name}}
        <span ng-show="movie.isBoxOffice" class="uk-badge purple">In teathers</span>
      </div>
    </div>
  </div>
  <div class="uk-width-xxlarge content">
    <div class="uk-width-3-4">
      <b>Directed by</b> Directors
      <br /> Year:
      <b>{{ release_date_formated }}</b> | Genres:
      <b ng-repeat="genre in movie.genres">{{ genre }}</b>
      <div class="rating">
        <div>
          <div class="is-rated-star" ng-show="movie.rated"></div>
          <a ng-hide="movie.rated" uk-icon="icon: star; ratio: 2"></a>
        </div>
        <div uk-dropdown="pos: bottom-center; mode: hover" style="z-index: 999">
          <center>
            <ul class="uk-iconnav">
              <div ng-repeat="n in range('10')">
                <a ng-if="n <= movie.rating" class="rating-star" ng-click="rate(movie._id, n)"></a>
                <a ng-if="n > movie.rating" uk-icon="icon: star; ratio: .6" ng-click="rate(movie._id, n)"></a>
              </div>
            </ul>
          </center>
        </div>
        <div class="rating-value"> 7.2 </div>
      </div>
    </div>
    <div class="left-bar uk-width-1-4">
      <img class="poster" style="background-image: url({{ movie.images.poster }})" />
      <button ng-hide="movie.followed.is_following" class="uk-button uk-button-default watch-button" ng-click="follow(movie)">
        <span uk-icon="icon: rss;"></span> Follow</button>
      <button ng-show="movie.followed.is_following" class="uk-button uk-button-default watch-button watched" ng-click="unfollow(movie)">
        <span uk-icon="icon: rss;"></span> Following </button>
      <button ng-hide="movie.watched" ng-click="markAsWatched(movie._id)" class="uk-button uk-button-default watch-button">
        <span uk-icon="icon: check;"></span> Mark as watched</button>
      <button ng-show="movie.watched" ng-click="markAsNotWatched(movie.watched.watched_id)" class="uk-button uk-button-default watch-button watched">
        <span uk-icon="icon: check;"></span> Watched (undo) </button>
      <button class="uk-button uk-button-default watch-button" ng-click="editionMode()">
        <span uk-icon="icon: pencil;"></span> Edit movie</button>
    </div>

    <div class="section sinopsis">
      <div class="section-title">
        Sinopse
      </div>
      <p>
        {{movie.overview}}
      </p>
    </div>
    <div class="section">
      <div class="section-title">
        Cast
      </div>

      <div uk-slider>
        <div class="uk-position-relative uk-visible-toggle uk-light">
          <ul class="uk-slider-items uk-child-width-1-5@s">
            <li ng-repeat="person in movie._actors">
              <div class="uk-card uk-grid-match uk-card-default uk-card-hover appears-in cast-info" >
                <a ng-href="person/{{person._id}}"> <img class="cast-image" style="background-image: url({{ person['image_url'] }})" /></a>
                <p class="uk-align-center uk-text-uppercase cast-name" align="center"> {{person.name}}</p>
              </div>
            </li>
          </ul>
          <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
          <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
        </div>
        <ul class="uk-slider-nav uk-dotnav uk-flex-center"></ul>
      </div>
    </div>
  </div>
</div>