<div class="movie">
  <!--Cover Content-->
  <div class="uk-background-cover" align="center" style="background-image: url({{ movie.backdrop_path }})">

  </div>

  <div class="purple-bar">
    <div class="bar-content uk-width-xxlarge">
      <div class="uk-width-3-4">
        <div class="title tvshow-name">
          <b>{{movie.title}} </b>   <div class="title">
            <span ng-show="movie.isBoxOffice" class="uk-badge purple">In teathers</span>
          </div><div class="hour-info"> ({{ movie.release_date | date: 'yyyy' }})</div>
        </div>
        <div class="more-info">
          <span uk-icon="icon: rss"></span> {{movie.followers}} Followers
        </div>
      </div>
    </div>
  </div>
  <div class="uk-width-xxlarge content">
    <div class="uk-width-3-4">
      <b>Directed by</b> Directors
      Genres:
      <b ng-repeat="genre in movie.genres">{{ genre.name }}; </b>
      <div class="rating">
        <div>
          <div class="is-rated-star" ng-show="movie.rated"></div>
          <a ng-hide="movie.rated" uk-icon="icon: star; ratio: 2"></a>
        </div>
        <div class="rate-dropdown" uk-dropdown="pos: bottom-center; mode: hover" style="z-index: 999">
          <center>
            <ul class="uk-iconnav">
              <div ng-repeat="n in range('10')">
                <a ng-if="n <= movie.rating" class="rating-star" ng-click="rate(movie._id, n)"></a>
                <a ng-if="n > movie.rating" uk-icon="icon: star; ratio: .5" ng-click="rate(movie._id, n)"></a>
              </div>
            </ul>
          </center>
        </div>
        <div class="rating-value"> {{movie.vote_average}} </div>
      </div>
    </div>
      <div class="left-bar uk-width-1-4">
          <img class="poster" style="background-image: url({{ movie.poster_path }})" />
          <button ng-hide="movie.followed.is_following" class="uk-button uk-button-default watch-button" href="#modal-center" uk-toggle>
              <span uk-icon="icon: rss;"></span> Follow</button>
          <div id="modal-center" class="uk-flex-top" uk-modal>
              <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                  <button class="uk-modal-close-default" type="button" uk-close></button>
                  <center>
                      <h3>Do you wish to follow this page privately?</h3>
                      <p class="uk-text-muted">Other users won't be able to see if you follow this page.</p>
                      <button class="uk-button uk-button-default watch-button uk-modal-close" ng-click="follow(movie, true)">
                          <span uk-icon="icon: lock;"></span> Yes </button>
                      <button class="uk-button uk-button-default watch-button uk-modal-close" ng-click="follow(movie, false)">
                          <span uk-icon="icon: unlock;"></span> No </button>
                  </center>
              </div>
          </div>
          <button ng-show="movie.followed.is_following" class="uk-button uk-button-default watch-button watched" ng-click="unfollow(movie)">
              <span uk-icon="icon: rss;"></span> Following </button>
          <button ng-hide="movie.watched" ng-click="markAsWatched(movie._id)" class="uk-button uk-button-default watch-button">
              <span uk-icon="icon: check;"></span> Mark as watched</button>
          <button ng-show="movie.watched" ng-click="markAsNotWatched(movie.watched.watched_id)" class="uk-button uk-button-default watch-button watched">
              <span uk-icon="icon: check;"></span> Watched (undo) </button>
          <button class="uk-button uk-button-default watch-button">
              <span uk-icon="icon: list;"></span> UserLists</button>
          <div uk-dropdown="pos: right-center; mode: hover; delay-hide: 100; offset: 20; animation: uk-animation-slide-right-medium" style="z-index: 999">
              <div ng-repeat="list in user.lists" ng-init="markAsAdded(movie._id, list._id)">
                  <button ng-show="!movieAdded" ng-click="addToList(movie._id, list._id)" class="uk-button uk-button-default watch-button">
                      <span uk-icon="icon: plus;"></span> {{list.title}} </button>
                  <button ng-show="movieAdded" ng-click="removeFromList(movie._id, list._id)" class="uk-button uk-button-default watch-button watched">
                      <span uk-icon="icon: minus;"></span> {{list.title}} (undo) </button>
              </div>
          </div>
          <button id="friendDropButton" class="uk-button uk-button-default watch-button" ng-class="{watched: friendsWatching.length > 0}" type="button">Friends Watching ({{ friendsWatching.length || 0 }})</button>
          <div class="uk-grid" id="friendDrop" uk-dropdown="pos: right-center; delay-hide: 1330000; animation: uk-animation-slide-right-medium; offset: 20">
              <div class="friend" uk-grid ng-repeat="friend in friendsWatching">
                  <div class="friendImage">
                      <img class="uk-border-circle" src="../images/mask2.png" width="50" height="50" alt="Border circle">
                  </div>
                  <div class="friendContent">
                    <p class="friendName">{{ friend.name }} <span ng-show="friend._ratings[0]" class="friendRating">{{friend._ratings[0]}} </span><span class="rating-star" ng-show="friend._ratings[0]" uk-icon="icon: star; ratio: .5"></span> </p>
                    <a class="friendLink" ng-href="/user/{{friend._id}}">{{' @' + friend.username}}</a>
                  </div>
              </div>
              <div class="friend" uk-grid ng-if="friendsWatching.length == 0">
                <div class="friendContent">
                  <p class="friendName uk-text-small uk-text-muted"><span uk-icon="video-camera"></span> None of yours friends watched this.</p>
                </div>
              </div>
          </div>
      </div>
    <div class="section sinopsis">
      <div class="section-title">
        Sinopse
      </div>
      <p>
        {{movie.overview}}
      </p>
    </div>
    <div class="section">
      <div class="section-title">
        Cast
      </div>

      <div uk-slider>
        <div class="uk-position-relative uk-visible-toggle uk-light">
          <ul class="uk-slider-items uk-child-width-1-5@s">
            <li ng-repeat="person in movie._actors">
              <div class="uk-card uk-grid-match uk-card-default uk-card-hover appears-in cast-info" >
                <a ng-href="person/{{person._id}}"> <img class="cast-image" style="background-image: url(https://image.tmdb.org/t/p/w500/{{ person['image_url'] }})" /></a>
                <p class="uk-align-center uk-text-uppercase cast-name" align="center"> {{person.name}}</p>
              </div>
            </li>
          </ul>
          <a class="slider-button-cast uk-position-top-left uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
          <a class="slider-button-cast uk-position-top-right uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
        </div>

        <ul class="slider-page uk-pagination uk-flex-center" ng-show="movie._actors.length > 5">
          <li ng-repeat="n in range(movie._actors.length / 5)"><a href="#" uk-slider-item="{{(n-1) * 5}}" >{{n}}</a></li>
        </ul>
      </div>
    </div>

    <div class="section">
      <div class="section-title">
        Recommendations
      </div>

      <div uk-slider>
        <div class="uk-position-relative uk-visible-toggle uk-light">
          <ul class="uk-slider-items uk-child-width-1-6@s">
            <li ng-repeat="rec_movie in movie.recommendations.results">
              <div class="uk-card uk-grid-match uk-card-default uk-card-hover appears-in cast-info" >
                <a ng-href="movie/{{rec_movie.id}}"> <img class="cast-image" style="background-image: url(https://image.tmdb.org/t/p/w500/{{ rec_movie['poster_path'] }})" /></a>
                <p class="uk-align-center uk-text-uppercase cast-name" align="center"> {{rec_movie.title}}</p>
              </div>
            </li>
          </ul>
          <a class="slider-button-cast uk-position-top-left uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
          <a class="slider-button-cast uk-position-top-right uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
        </div>

        <ul class="slider-page uk-pagination uk-flex-center" ng-show="movie.recommendations.results.length > 6">
          <li ng-repeat="n in range(movie.recommendations.results.length / 6)"><a href="#" uk-slider-item="{{(n-1) * 6}}" >{{n}}</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
