<div class="login" style="background-image: url('/images/skeleton_key.jpg')">
    <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m uk-position-center" ng-init="updatePassword()">
        <h3 class="uk-card-title" ng-if="passwordUpdated == 0">Updating password...</h3>
        <h3 class="uk-card-title uk-text-success" ng-if="passwordUpdated == 1">Password Updated</h3>
        <h3 class="uk-card-title uk-text-danger" ng-if="passwordUpdated == 2">Something went wrong</h3>
        <p>You will be redirected to the Login page in 5 seconds. If that doesn't happen click <a href="www.kitso.herokuapp.com/login">here</a>.</p>
    </div>
</div>
