<div class="person">
  <!--Cover Content-->
  <div class="uk-background-cover" align="center" style="background-image: url({{ background }})">
  </div>

  <div class="purple-bar">
    <div class="bar-content uk-width-xxlarge">
      <div class="uk-width-3-4">
        <div class="title tvshow-name">
          <b>{{person.name}} </b>
        </div>
        <div class="more-info">
          <span uk-icon="icon: rss"></span> {{person.followers}} Followers
        </div>
      </div>
    </div>
  </div>
  <div class="uk-width-xxlarge content">
    <div class="left-bar uk-width-1-4">
      <img class="poster" style="background-image: url({{ person.profile_path }})" />
      <button ng-hide="person.followed.is_following" class="uk-button uk-button-default watch-button">
        <span uk-icon="icon: rss;"></span> Follow</button>
      <div id="modal-center" class="uk-flex-top" uk-modal>
        <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
          <button class="uk-modal-close-default" type="button" uk-close></button>
          <center>
            <h3>Do you wish to follow this page privately?</h3>
            <p class="uk-text-muted">Other users won't be able to see if you follow this page.</p>
            <button class="uk-button uk-button-default watch-button uk-modal-close" ng-click="follow(person, true)">
              <span uk-icon="icon: lock;"></span> Yes </button>
            <button class="uk-button uk-button-default watch-button uk-modal-close" ng-click="follow(person, false)">
              <span uk-icon="icon: unlock;"></span> No </button>
          </center>
        </div>
      </div>
      <button ng-show="person.followed.is_following" class="uk-button uk-button-default watch-button watched" ng-click="unfollow(person)">
        <span uk-icon="icon: rss;"></span> Following </button>
    </div>

    <div class="section description">
      <div ng-hide="person.deathday != null" class="section-title">
        Born {{ birthday_date_formated }}
      </div>
      <div ng-show="person.deathday != null" class="section-title">
        Born {{ birthday_date_formated }} | Died {{ deathday_date_formated }}
      </div>

      <div ng-show="person.place_of_birth != null" class="section-title">
        Natural of {{ person.place_of_birth }}
      </div>

      <div class="section-title">
        Description
      </div>
      <p>
        {{person.biography}}
      </p>
    </div>
    <div class="section">
      <div class="section-title uk-width-xxlarge uk-position-relative uk-position-bottom-center">
        Appears in
      </div>
      <div uk-slider>
        <div class="uk-position-relative uk-visible-toggle uk-light">
          <ul class="uk-slider-items uk-child-width-1-4@s">
            <li ng-repeat="media in mediasPersonAppears">
              <div class="uk-card uk-grid-match uk-card-default uk-card-hover" >
                <img class="poster" style="background-image: url(https://image.tmdb.org/t/p/w500/{{ media.helper.poster_path }})" />
                <p class="uk-align-center uk-text-uppercase" style="margin-top: 10px; margin-bottom: 25px" align="center"> {{media.name}}</p>
              </div>
            </li>
          </ul>
          <a class="slider-button-season uk-position-top-left uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
          <a class="slider-button-season uk-position-top-right uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
        </div>
        <ul class="slider-page uk-pagination uk-flex-center" ng-show="mediasPersonAppears.length > 4">
          <li ng-repeat="n in range(mediasPersonAppears.length / 4)"><a href="#" uk-slider-item="{{(n-1) * 4}}" >{{n}}</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
