<div class="profile">
    <!--Cover Content-->
    <div class="uk-background-cover" align="center">
            <img class="profile-image" src="/images/user_photo.jpg" width="140" height="140">
            <p class="uk-text-large profile-name">Albus Dumbledore</p>
            <p class="uk-text-small profile-username">@dumblezinho</p>
    </div>
    <!--Card Content-->
    <div class="uk-width-xxlarge uk-container profile-container">
        <div class="uk-card uk-card-small uk-card-default uk-card-body uk-container-center">
            <ul class="uk-tab" data-uk-tab="{connect:'#tab-id'}">
                <li><a href="">Overview</a></li>
                <li class="uk-disabled"><a>History</a></li>
                <li class="uk-disabled"><a>Ranking</a></li>
                <li class="uk-disabled"><a>Following</a></li>
                <li class="uk-disabled"><a>Followers</a></li>
                <li><a>Settings</a></li>
            </ul>
            <ul id="tab-id" class="uk-switcher uk-margin">
                <li><a href="#" id="overview" data-uk-switcher-item="next"></a>
                    <p class="uk-text-large">About</p>
                    <p class="uk-text-small" align="center">Happiness can be found, even in the darkest of times,
                        if one only remembers to turn on the light. It does
                        not do to dwell on dreams and forget to live. It is our
                        choices that show what we truly are, far more than our abilities.</p>
                    <p class="uk-text-small uk-text-muted" align="center">June 30 | Male</p>
                    <hr class="uk-divider-icon">
                    <div uk-grid>
                        <div class="uk-width-1-2">
                            <p>Favorite Movie
                            <a class="uk-link-text uk-text-uppercase uk-align-right" href="">See Ranking</a>
                            </p>
                            <img src="/images/fantasticbeats.jpg" width="300" height="400">
                        </div>
                        <div class="uk-width-1-2">
                            <p>Watched Genres</p>
                            <img src="/images/watched.jpg" width="300" height="400">
                        </div>
                    </div>
                </li>
                <li>History Content Here</li>
                <li>Ranking Content Here</li>
                <li>Following Content Here</li>
                <li>Followers Content Here</li>
                <li>
                    <a href="#" id="settings" data-uk-switcher-item="next"></a>
                    <p class="uk-text-large">Settings</p>
                    <form name="userForm" ng-submit="submitForm()" novalidate>
                        <!--Name Field-->
                        <div class="uk-margin">
                            <label class="uk-form-label" ng-class="{ 'uk-text-danger' : isInvalid(userForm.name) }" for="name">Name</label>
                            <div class="uk-form-controls">
                                <input class="uk-input" type="text" id="name" name="name" placeholder="Name"
                                    ng-class="{ 'uk-form-danger' : isInvalid(userForm.name) }"
                                    ng-model="user.name" required>
                            </div>
                            <label class="uk-text-small uk-text-danger uk-align-right" for="name" ng-show="isInvalid(userForm.name)">* Name can't be blank</label>
                        </div>
        
                        <!--Username Field-->
                        <div class="uk-margin">
                            <label class="uk-form-label" for="username" ng-class="{ 'uk-text-danger' : isInvalid(userForm.username) }">Username</label>
                            <div class="uk-form-controls">
                                <input class="uk-input" type="text" id="username" name="username" placeholder="Username"
                                    ng-class="{ 'uk-form-danger' : isInvalid(userForm.username) }"
                                    ng-model="user.username" ng-minlength="4" ng-maxlength="12" required>
                            </div>
                            <label class="uk-text-small uk-text-danger uk-align-right" for="username"
                                ng-show="((isInvalid(userForm.username)) && (userForm.username.$$classCache['ng-valid-minlength'] && userForm.username.$$classCache['ng-valid-maxlength']))" >* Username can't be blank</label>
                            <label class="uk-text-small uk-text-danger uk-align-right uk-text-right" for="username"
                                ng-show="((isInvalid(userForm.username)) && !(userForm.username.$$classCache['ng-valid-minlength'] && userForm.username.$$classCache['ng-valid-maxlength']))">* Username must be 4 to 12 characters</label>
                        </div>
        
                        <!--Email Field-->
                        <div class="uk-margin">
                            <label class="uk-form-label" for="email" ng-class="{ 'uk-text-danger' : isInvalid(userForm.email) }">Email</label>
                            <div class="uk-form-controls">
                                <input class="uk-input" type="email" id="email" name="email" placeholder="Email"
                                    ng-class="{ 'uk-form-danger' : isInvalid(userForm.email) }"
                                    ng-model="user.email" required>
                            </div>
                            <label class="uk-text-small uk-text-danger uk-align-right" for="email"
                                ng-show="((isInvalid(userForm.email)) && (userForm.email.$$classCache['ng-valid-email']))" >* Email can't be blank</label>
                            <label class="uk-text-small uk-text-danger uk-align-right" for="email"
                                ng-show="((isInvalid(userForm.email)) && !(userForm.email.$$classCache['ng-valid-email']))" >* Email is not valid</label>
                        </div>
        
                        <!--Birth Date-->
                        <div class="uk-margin">
                            <label class="uk-form-label" for="birthday" ng-class="{ 'uk-text-danger' : isInvalid(userForm.birthday) }">Birthday</label>
                            <div class="uk-form-controls">
                                <input class="uk-input" type="date" id="birthday" name="birthday"
                                    ng-class="{ 'uk-form-danger' : isInvalid(userForm.birthday) }"
                                    ng-model="user.birthday" required>
                            </div>
                            <label class="uk-text-small uk-text-danger uk-align-right" for="birthday"
                                ng-show="((isInvalid(userForm.birthday)) && (userForm.birthday.$$classCache['ng-valid-date']))" >* Birthday can't be blank</label>
                            <label class="uk-text-small uk-text-danger uk-align-right" for="birthday"
                                ng-show="((isInvalid(userForm.birthday)) && (userForm.birthday.$$classCache['ng-invalid-date']))" >* Birthday is not valid</label>
                        </div>
        
                        <!--Gender-->
                        <div class="uk-margin">
                            <label class="uk-form-label" for="gender" ng-class="{ 'uk-text-danger' : isInvalid(userForm.gender) }">Gender</label>
                            <select class="uk-select" id="gender" name="gender"
                                    ng-class="{ 'uk-form-danger' : isInvalid(userForm.gender) }"  ng-model="user.gender" required>
                                <option value="">Please select...</option>
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                                <option value="other">Other</option>
                            </select>
                            <label class="uk-text-small uk-text-danger uk-align-right" for="birthday"
                                ng-show="(isInvalid(userForm.gender))" >* You must select a gender</label>
                        </div>
                        <button class="uk-button uk-button-small uk-align-center" ng-class="{ 'uk-button-signup': userForm.$valid }" ng-disabled="userForm.$invalid">Save Changes</button>
                        <hr class="uk-divider-icon">
                        <button class="uk-button uk-button-danger uk-button-small uk-align-center" ng-submit="deleteAccount()">Delete Account</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</div>