<div class="tvshow">
    <!--Cover Content-->
    <div class="uk-background-cover" align="center" style="background-image: url({{ tvshow.images.cover }})">
        <div class="uk-width-xxlarge">
            <div class="title tvshow-name">{{ tvshow.name }}</div>

        </div>
    </div>

    <div class="uk-width-xxlarge content">
        <div class="uk-width-3-4">
            <b>Directed by</b> {{ 'Directors' }}
            <br /> Airing:
            <b> {{ tvshow.release_date | date: 'yyyy' }}</b> | Genres:
            <b ng-repeat="genre in tvshow.genres">{{ genre }}</b>
            <div class="rating">
              <div>
                <div class="is-rated-star" ng-show="tvshow.rated"></div>
                <a ng-hide="tvshow.rated" uk-icon="icon: star; ratio: 2"></a>
              </div>
                  <div uk-dropdown="pos: bottom-center; mode: hover" style="z-index: 999">
                    <center>
                      <ul class="uk-iconnav">
                        <div ng-repeat="n in range('10')">
                          <a ng-if="n <= tvshow.rating" class="rating-star" ng-click="rate(tvshow._id, n)"></a>
                          <a ng-if="n > tvshow.rating" uk-icon="icon: star; ratio: .6" ng-click="rate(tvshow._id, n)"></a>
                        </div>
                      </ul>
                    </center>
                  </div>
                <div class="rating-value"> 8.3</div>
            </div>
        </div>
        <div class="left-bar uk-width-1-4">
            <img class="poster" style="background-image: url({{ tvshow.images.poster }})" />
            <button ng-hide="tvshow.followed.is_following" class="uk-button uk-button-default watch-button" ng-click="follow(tvshow)">
            <span uk-icon="icon: rss;"></span> Follow</button>
            <button ng-show="tvshow.followed.is_following" class="uk-button uk-button-default watch-button watched" ng-click="unfollow(tvshow)">
            <span uk-icon="icon: rss;"></span> Following </button>
            <button ng-hide="tvshow.watched" ng-click="markAsWatched(tvshow._id)" class="uk-button uk-button-default watch-button">
            <span uk-icon="icon: check;"></span> Mark as watched</button>
            <button ng-show="tvshow.watched" ng-click="markAsNotWatched(tvshow.watched.watched_id)" class="uk-button uk-button-default watch-button watched">
            <span uk-icon="icon: check;"></span> Watched (undo) </button>
            <button class="uk-button uk-button-default watch-button" ng-click="editionMode()">
            <span uk-icon="icon: pencil;"></span> Edit TvShow</button>
        </div>


        <div class="section sinopsis">
            <div class="section-title">
                Overview
            </div>
            <p>
                {{ tvshow.overview }}
            </p>
        </div>
        <div class="section">
            <div class="section-title">
                Cast
            </div>
            <div uk-grid>
                <!-- <div class="cast-info" ng-repeat="person in tvshow.actors">
                    <img class="cast-image" src="{{ person.image }}" />
                    <p class="cast-name">{{ person.name }}</p>
                </div> Quando tiver persons na serie.-->
                <div class="cast-info">
                    <img class="cast-image" src="https://ia.media-imdb.com/images/M/MV5BMTkwODE2MDg5N15BMl5BanBnXkFtZTcwNDM3MDQ0OA@@._V1_UY317_CR5,0,214,317_AL_.jpg" />
                    <p class="cast-name">Maika Monroe</p>
                </div>
                <div class="cast-info">
                    <img class="cast-image" src="https://ia.media-imdb.com/images/M/MV5BMTg4MzcwMjcyN15BMl5BanBnXkFtZTgwODAxMzg3NzE@._V1_UY317_CR25,0,214,317_AL_.jpg" />
                    <p class="cast-name">Keir Gilchrist</p>
                </div>
                </div>
            </div>
            <div class="section">
                <div class="section-title">

            Episodes

            <ul uk-accordion="multiple: true" ng-repeat="episode in season.episode">
              <li>
                <a class="uk-accordion-title" href="#">{{episode.season_number}}: {{episode.name}}</a>
                <div class="uk-accordion-content">
                  <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
                    <div class="uk-card-media-left uk-cover-container">
                      <img ng-src="{{episode.still_path}}" alt="" uk-cover>
                      <canvas width="600" height="400"></canvas>
                    </div>
                    <div>
                      <div class="uk-card-body">
                        <h3 class="uk-card-title">{{episode.name}}</h3>
                        <p>Aired: {{episode.air_date}}</p>
                          <p>{{season.overview}}</p>
                          <button ng-hide="tvshow.watched" ng-click="markAsWatched(tvshow._id)" class="uk-button uk-button-default watch-button">
                          <span uk-icon="icon: check;"></span> Mark as watched</button>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
        </div>
      </div>


    </div>
</div>
