<div class="tvshow">
<!--Cover Content-->
<div class="uk-background-cover" align="center" style="background-image: url({{ tvshow.backdrop_path }})"></div>
<div class="purple-bar">
  <div class="bar-content uk-width-xxlarge">
    <div class="uk-width-3-4">
      <div class="title tvshow-name">
        <b>{{ tvshow.name }} </b> <div class="hour-info"> ({{ tvshow.air_date | date: 'yyyy' }})</div>
      </div>
      <div class="more-info">
        <span uk-icon="icon: rss"></span> {{tvshow.followers}} Followers
      </div>

    </div>
  </div>
</div>

<div class="uk-width-xxlarge content">
  <div class="left-bar uk-width-1-4">
    <div ng-show="tvshow.rated" class="rating-info"> {{tvshow.rating}} </div>
    <img class="poster" style="background-image: url({{ tvshow.poster_path }})" />
    <button ng-hide="tvshow.followed.is_following" class="uk-button uk-button-default watch-button" href="#modal-center" uk-toggle>
      <span uk-icon="icon: rss;"></span> Follow</button>
      <div id="modal-center" class="uk-flex-top" uk-modal>
          <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <center>
            <h3>Do you wish to follow this page privately?</h3>
            <p class="uk-text-muted">Other users won't be able to see if you follow this page.</p>
            <button class="uk-button uk-button-default watch-button uk-modal-close" ng-click="follow(tvshow, true)">
              <span uk-icon="icon: lock;"></span> Yes </button>
            <button class="uk-button uk-button-default watch-button uk-modal-close" ng-click="follow(tvshow, false)">
              <span uk-icon="icon: unlock;"></span> No </button>
            </center>
          </div>
      </div>
      <button ng-show="tvshow.followed.is_following" class="uk-button uk-button-default watch-button watched" ng-click="unfollow(tvshow)">
        <span uk-icon="icon: rss;"></span> Following </button>
        <button ng-hide="tvshow.watched" uk-toggle="#modal-watchTvshow" class="uk-button uk-button-default watch-button">
          <span uk-icon="icon: check;"></span> Mark as watched</button>
          <button ng-show="tvshow.watched" ng-click="markTvshowAsNotWatched()" class="uk-button uk-button-default watch-button watched">
            <span uk-icon="icon: check;"></span> Watched (undo) </button>
          <button class="uk-button uk-button-default watch-button">
            <span uk-icon="icon: list;"></span> UserLists</button>
          <div uk-dropdown="pos: right-center; mode: hover; delay-hide: 100; offset: 20; animation: uk-animation-slide-right-medium" style="z-index: 999">
            <div ng-repeat="list in user.lists" ng-init="markAsAdded(tvshow._id, list._id)">
              <button ng-show="!tvshowAdded" ng-click="addToList(tvshow._id, list._id)" class="uk-button uk-button-default watch-button">
                <span uk-icon="icon: plus;"></span> {{list.title}} </button>
              <button ng-show="tvshowAdded" ng-click="removeFromList(tvshow._id, list._id)" class="uk-button uk-button-default watch-button watched">
                <span uk-icon="icon: minus;"></span> {{list.title}} (undo) </button>
            </div>
          </div>
          <button id="friendDropButton" class="uk-button uk-button-default watch-button" ng-class="{watched: friendsWatching.length > 0}" type="button">Friends Watching ({{ friendsWatching.length || 0 }})</button>
          <div class="uk-grid" id="friendDrop" uk-dropdown="offset: 0; pos: right-center; delay-hide: 100; animation: uk-animation-slide-right-medium; offset: 20">
            <div class="friend" uk-grid ng-repeat="friend in friendsWatching">
              <div class="friendImage">
                <img class="uk-border-circle" src="../images/mask2.png" width="50" height="50" alt="Border circle">
              </div>
              <div class="friendContent">
                <p class="friendName">{{ friend.name }}</p>
                <a class="friendLink" ng-href="/user/{{friend._id}}">{{' @' + friend.username}}</a>
              </div>
            </div>
            <div class="friend" uk-grid ng-if="friendsWatching.length == 0">
              <div class="friendContent">
                <p class="friendName uk-text-small uk-text-muted"><span uk-icon="video-camera"></span> None of yours friends watched this.</p>
              </div>
            </div>
          </div>
          </div>
          <div class="uk-width-3-4">
            <div class="rating">
              <div>
                <div class="is-rated-star" ng-show="tvshow.rated"></div>
                <a ng-hide="tvshow.rated" uk-icon="icon: star; ratio: 2"></a>
              </div>
              <div class="rate-dropdown" uk-dropdown="pos: bottom-center; mode: hover" style="z-index: 999">
                <center>
                  <ul class="uk-iconnav">
                    <div ng-repeat="n in range('10')">
                      <a ng-if="n <= tvshow.rating" class="rating-star" ng-click="rate(tvshow._id, n)"></a>
                      <a ng-if="n > tvshow.rating" uk-icon="icon: star; ratio: .5" ng-click="rate(tvshow._id, n)"></a>
                    </div>
                  </ul>
                </center>
              </div>
              <div class="rating-value"> 8.3</div>
            </div>
            <p>Created by <b ng-repeat="person in tvshow.created_by">{{ person.name }}; </b> <br />
              Genres: <b ng-repeat="genre in tvshow.genres">{{ genre.name }} </b> /  Runtime: <b>{{tvshow.episode_run_time[0]}} minutes </b></p>

              <div class="section sinopsis">
                <p>
                  {{ tvshow.overview }}
                </p>
              </div>

              <div class="section">
                <div class="section-title">
                  Seasons
                </div>
                <div uk-slider>
                  <div class="uk-position-relative uk-visible-toggle uk-light">
                    <ul class="uk-slider-items uk-child-width-1-3@s">
                      <li ng-repeat="season in tvshow.seasons">
                        <div class="uk-card uk-grid-match uk-card-default uk-card-hover appears-in" >
                          <a ng-href="tvshow/{{tvshow._id}}/season/{{season.season_number}}"> <img class="poster" style="background-image: url(https://image.tmdb.org/t/p/w500/{{ season.poster_path }})" /> </a>
                          <p class="uk-align-center uk-text-uppercase" style="margin-top: 10px" align="center"> {{season.name}}</p>
                        </div>
                      </li>
                    </ul>
                    <a class="slider-button-season uk-position-top-left uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                    <a class="slider-button-season uk-position-top-right uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
                  </div>
                  <ul class="slider-page uk-pagination uk-flex-center" ng-show="tvshow.seasons.length > 3">
                    <li ng-repeat="n in range(tvshow.seasons.length / 3)"><a href="#" uk-slider-item="{{(n-1) * 3}}" >{{n}}</a></li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="section">
              <div class="section-title">
                Cast
              </div>

              <div uk-slider>
                <div class="uk-position-relative uk-visible-toggle uk-light">
                  <ul class="uk-slider-items uk-child-width-1-6@s">
                    <li ng-repeat="person in tvshow._actors">
                      <div class="uk-card uk-grid-match uk-card-default uk-card-hover appears-in cast-info" >
                        <a ng-href="person/{{person._id}}"> <img class="cast-image" style="background-image: url(https://image.tmdb.org/t/p/w500/{{person.image_url}})" /> </a>
                        <p class="uk-align-center uk-text-uppercase cast-name" align="center"> {{person.name}}</p>
                      </div>
                    </li>
                  </ul>
                  <a class="slider-button-cast uk-position-top-left uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                  <a class="slider-button-cast uk-position-top-right uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
                </div>
                <ul class="slider-page uk-pagination uk-flex-center" ng-show="tvshow._actors.length > 6">
                  <li ng-repeat="n in range(tvshow._actors.length / 6)"><a href="#" uk-slider-item="{{(n-1) * 6}}" >{{n}}</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
                <!-- Watched modal -->
<div id="modal-watchTvshow" class="uk-flex-top" uk-modal>
  <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
      <button class="uk-modal-close-default" type="button" uk-close></button>
      <h2 class="uk-modal-title">Mark tvshow as watched</h2>
      <p>Mark <span class="uk-text-bold uk-text-danger">all</span> episodes as watched or <strong>only</strong> the unwatched episodes?</p>
      <p class="uk-text-right">
          <button class="uk-button uk-button-danger uk-modal-close" type="button" ng-click="markEntireTvshowAsWatched(tvshow._id, tvshow.episode_run_time[0])" ng-disabled="watchAction">All episodes</button>
          <button class="uk-button uk-button uk-modal-close" type="button" ng-click="markTvshowAsWatched(tvshow._id, tvshow.episode_run_time[0])" ng-disabled="watchAction || tvshow.watched"><span class="uk-text-danger">Unwatched episodes</span></button>
      </p>
  </div>
</div>
