<div class="home-content">
  <div class="uk-width-xxlarge uk-container feed">
    <h4><span uk-icon="rss"></span> Friends Activity </h4>
    <div ng-repeat="activity in feed" ng-hide="acitivy.hidden">
    <article class="uk-comment uk-visible-toggle" >
        <header class="uk-comment-header uk-position-relative">
            <div class="uk-grid-medium uk-flex-middle" uk-grid>
                <div class="uk-width-auto">
                    <img class="uk-comment-avatar uk-border-circle" src="/images/mask2.png" width="40" height="40" alt="">
                </div>
                <div class="uk-width-expand">
                    <div class="uk-comment-title uk-margin-remove">
                      <h4 class="user-name">
                        <a class="uk-link-reset" href="#">{{getActivityUser(activity).name}}</a></h4>
                        <h5 class="user-action"> {{getActivityType(activity) }} </h5>
                        <a class="link-action" ng-if="activity._action._media.show">{{activity._action._media.show.name}}: </a>
                        <a class="link-action" ng-if="activity._action._media.show">{{getSeasonInfo(activity).name}} - </a>
                        <a class="link-action">{{getActivityReferedObject(activity).name}}</a>
                      </div>
                    <p class="uk-comment-meta uk-margin-remove-top">
                      <a class="uk-link-reset" href="#">{{getActivityDate(activity)}}</a>
                    </p>
                </div>
            </div>
            <div class="uk-position-top-right uk-position-small uk-hidden-hover"><a class="uk-link-muted" ng-click="activity.open = !activity.open" href="#">More</a></div>
        </header>
        <div class="uk-comment-body" ng-show="activity.open">
          <div class="uk-card uk-card-default uk-grid-collapse uk-margin home-card" uk-grid>
              <div class="uk-card-media-left uk-cover-container">
                  <img ng-src="{{getActivityImage(activity)}}" alt="" uk-cover>
                  <canvas width="300" height="200"></canvas>
              </div>
              <div class="home-card-info">
                  <div class="uk-card-body">
                      <h3 class="uk-card-title">{{getActivityReferedObject(activity).name}}</h3>
                      <p class="overview uk-text-break">
                      <br>
                        {{getActivityReferedObject(activity).overview.substr(0,140)}}...</p>
                  </div>
              </div>
          </div>
        </div>
    </article>
    <br >
        <button  class="uk-button uk-button-default episode-button">
          <span uk-icon="heart"></span> Like (74 likes)
        </button>
    <div style="display:inline-block" ng-if="activity._action._media">
      <button class="uk-button uk-button-default episode-button">
        <span uk-icon="icon: list;"></span> Lists</button>
      <div uk-dropdown="bottom-center; mode: hover" style="z-index: 999">
        <center>
          <div ng-repeat="list in user.lists">
            <button ng-hide="itemIsListed(list._id, episode)" ng-click="addToList(episode, list._id)" class="uk-button uk-button-default episode-button">
              <span uk-icon="icon: plus;"></span> {{list.title}} </button>
            <button ng-show="itemIsListed(list._id, episode)" ng-click="removeFromList(episode, list._id)" class="uk-button uk-button-default episode-button">
              <span uk-icon="icon: minus;"></span> {{list.title}} (undo) </button>
          </div>
        </center>
      </div>
      <button ng-hide="episode.watched" ng-click="markAsWatched(episode)" class="uk-button uk-button-default episode-button">
        <span uk-icon="icon: history;"> </span>  Mark as watched
      </button>
      <button ng-show="episode.watched" ng-click="markAsNotWatched(episode)" class="uk-button uk-button-default episode-button active">
        <span uk-icon="icon: clock;"></span> Watched (undo)
      </button>
    </div>

    <hr>
  </div>
</div>
