<div class="userlist">
  <!--Cover Content-->
  <div class="uk-background-cover" align="center" style="background-image: url({{ background }})">
    <div class="uk-width-xxlarge">
    </div>
  </div>

  <div class="purple-bar">
    <div class="bar-content uk-width-xxlarge">
      <div class="uk-grid">
        <div class="uk-width-3-4">
          <div class="title">
            <b>{{userlist.title}} </b>
          </div>
          <div class="section sinopsis">
            <p>
              {{userlist.description}}
            </p>
          </div>
        </div>
        <div class="uk-width-1-4">
          <button class="uk-button uk-button-save-changes" ng-show="userlist.deletable" ng-if="canEdit(user, userlist)" ng-click="editionMode()">
            <span uk-icon="icon: pencil;"></span> Edit List</button>

          <button class="uk-button uk-button-save-changes" ng-if="!canEdit(user, userlist)" ng-click="followList(userlist)"> Follow</button>
          <button class="uk-button uk-button-save-changes" ng-if="!canEdit(user, userlist)" ng-click="unfollowList(userlist)"> Unfollow</button>
        </div>
      </div>
    </div>
  </div>

  <div class="uk-width-xxlarge content">
    <div class="uk-child-width-1-3@m" uk-grid>
      <div class="uk-card uk-card-primary" ng-repeat="item in userlist.itens">
        <div class="uk-card-media-top">
          <a class="page-link" ng-href="/{{item._media.__t.toLowerCase()}}/{{item._media._id}}">
            <img class="poster" style="background-image: url({{getPoster(item._media) }})" style="z-index:-1"/>
          </a>
        </div>
        <div class="uk-card-body">
          <div class="uk-grid">
            <div class="uk-width-4-5 w-79">
              <p class="uk-text"><a class="page-link" ng-click="goToMedia(item._media)">{{item._media.name}}{{item._media.title}}</a></p>
              <p class="uk-text uk-text-small uk-text-muted">Added {{formatDate(item.date)}}</p>
            </div>
            <div class="uk-width-1-5">
              <button ng-if="canEdit()" class="uk-button uk-button-default more">
                <span uk-icon="icon: more-vertical;">
              </button>
              <div uk-dropdown="pos: bottom-center; mode: click" style="z-index: 999">
                <center>
                  <ul class="uk-nav uk-dropdown-nav">
                    <button ng-click="removeFromList(userlist._id, item.ranked)" class="uk-button action-button">
                      <span uk-icon="icon: trash;"></span>Remove from {{userlist.title}}</button>
                    <button ng-click="optionToggle()"  class="uk-button action-button">
                      <span uk-icon="icon: move;"></span>Change Order</button>
                    <div ng-show="showChangeOptions" class="inline" ng-init="item.newRanked = item.ranked">
                      <li class="uk-nav-divider"></li>
                      <p> Choose the new position</p>
                      <input class="rankValue" type="number" align="center" value="{{item.ranked}}" ng-model="item.newRanked" min="1" class="inline">
                      <button class="uk-button change-button" ng-click="item.newRanked = rankUp(item.newRanked)">
                          <span uk-icon="icon: chevron-up;">
                      </button>
                      <button class="uk-button change-button" ng-click="item.newRanked = rankDown(item.newRanked, userlist.itens.length + 1)">
                          <span uk-icon="icon: chevron-down;">
                      </button>
                      <br>
                      <button class="uk-button uk-button-primary save-button" ng-click="changeOrder(userlist._id, item.ranked, item.newRanked)" type="button">Save</button>
                    </div>
                  </ul>
                </center>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
