<li>
  <p class="uk-text-large">About
    <a ng-if="canEdit()" class="uk-icon-button" uk-icon="pencil" ng-click="toggleDescriptionArea()" ng-hide="descriptionArea"></a>
    <a uk-icon="check" class="uk-icon-button uk-button-save-changes" ng-show="descriptionArea" ng-click="submitForm()"></a>
    <a uk-icon="close" class="uk-icon-button" ng-show="descriptionArea" ng-click="toggleDescriptionArea()"></a>
  </p>
  <p class="uk-text-small" align="center" ng-hide="descriptionArea">
    {{ user.description }}
  </p>
  <div class="uk-margin" ng-show="descriptionArea">
    <form name="editForm" ng-submit="submitForm()" novalidate>
      <textarea maxlength="240" class="uk-textarea" placeholder="Description" ng-model="user.description">
          {{ user.description }}
        </textarea>
    </form>
  </div>
  <p class="uk-text-small uk-text-muted uk-text-capitalize" align="center">{{ user.birthday | date}} | {{ user.gender }}</p>
  <p ng-show="user.vip" class="uk-text-small uk-text-muted uk-text-capitalize" align="center"><span class="uk-label uk-label-danger">VIP</span></p>
  <hr class="uk-divider-icon">
  <div uk-grid>
    <div class="uk-width-1-2">
      <p style="padding-bottom: 10px">Favorite Movie
        <a class="uk-link-text uk-text-uppercase uk-align-right" href="">See Ranking</a>
      </p>
      <div class="uk-inline" ng-show="userFavoriteMovie">
        <img class="favorite-movie" ng-click="goToMedia(userFavoriteMovie)" style="background-image: url({{ getBackground(userFavoriteMovie) }})"
        />
          <p class="favorite-movie-title " align="center">{{userFavoriteMovie.name}}</p>
      </div>
      <p class="following-link" align="center" ng-show="!userFavoriteMovie">You don't have a favorite movie yet
        <br> Try rating a movie</p>
    </div>
  <div class="section uk-width-1-2">
    <div class="section-title" style="padding-bottom: 10px">
      {{user.name}}'s Lists
    </div>

    <div uk-slider>
      <div class="uk-position-relative uk-visible-toggle uk-light">
        <ul class="uk-slider-items">
          <li ng-repeat="list in user.lists">
            <div class="uk-card uk-grid-match uk-card-default uk-card-hover list-info" >
              <a ng-href="/list/{{list._id}}"> <img class="list-image" style="background-image: url({{ getListPoster(list) }})" /></a>
              <p class="uk-align-center uk-text-uppercase list-name" align="center"> {{list.title}}</p>
            </div>
          </li>
        </ul>
        <a class="slider-button-list uk-position-top-left uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
        <a class="slider-button-list uk-position-top-right uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
      </div>

      <ul class="slider-page uk-pagination uk-flex-center" ng-show="user.lists.length > 5">
        <li ng-repeat="n in range(user.lists.length / 5)"><a href="#" uk-slider-item="{{(n-1) * 5}}" >{{n}}</a></li>
      </ul>
    </div>
  </div>
    <div class="uk-width-2-2">
      Watched Time
      <canvas class="chart chart-bar" height="70" chart-type="bar" chart-data="user_progress_data" chart-labels="user_progress_labels"
      chart-options="user_progress_options" chart-colors="u_p_colors" chart-dataset-override="u_p_override_colors"></canvas>
    </div>
    <div class="uk-width-1-2">
      <p>Watched Genres</p>
      <br>
      <canvas id="doughnut" class="chart chart-doughnut round-chart" chart-data="data" chart-colors="colors" chart-options="optionsGenres" chart-labels="labels"></canvas>
    </div>
    <div class="uk-width-1-2">
      General Statistics <br />
      <h1 class="inline-text">{{user.watched_episodes.length}}</h1> episodes out of  <h1 class="inline-text">{{user.watched_tv_shows.length}}</h1> tv shows. <br/>
      <h1 class="inline-text">{{user.watched_movies.length}}</h1> movies.
    </div>
  </div>

  <div class="section">
    <div class="section-title" style="padding: 10px 0">
      Recommendations
    </div>
    <ng-include src="'views/profile/_recommendation.html'"></ng-include>
  </div>

  <hr class="uk-divider-icon">
</div>


</li>
