<li>
  <p class="uk-text-large">About
    <a ng-if="canEdit()" class="uk-icon-button" uk-icon="pencil" ng-click="toggleDescriptionArea()" ng-hide="descriptionArea"></a>
    <a uk-icon="check" class="uk-icon-button uk-button-save-changes" ng-show="descriptionArea" ng-click="submitForm()"></a>
    <a uk-icon="close" class="uk-icon-button" ng-show="descriptionArea" ng-click="toggleDescriptionArea()"></a>
  </p>
  <p class="uk-text-small" align="center" ng-hide="descriptionArea">
    {{ user.description }}
  </p>
  <div class="uk-margin" ng-show="descriptionArea">
    <form name="editForm" ng-submit="submitForm()" novalidate>
      <textarea maxlength="240" class="uk-textarea" placeholder="Description" ng-model="user.description">
          {{ user.description }}
        </textarea>
    </form>
  </div>
  <p class="uk-text-small uk-text-muted uk-text-capitalize" align="center">{{ user.birthday | date}} | {{ user.gender }}</p>
  <hr class="uk-divider-icon">
  <div uk-grid>
    <div class="uk-width-1-2">
      <p style="padding-bottom: 10px">Favorite Movie
        <a class="uk-link-text uk-text-uppercase uk-align-right" href="">See Ranking</a>
      </p>
      <div class="uk-inline" ng-show="userFavoriteMovie">
        <img class="favorite-movie" ng-click="goToMedia(userFavoriteMovie)" style="background-image: url({{ getBackground(userFavoriteMovie) }})"
        />
        <div class="uk-overlay uk-overlay-primary uk-position-bottom">
          <p align="center">{{userFavoriteMovie.name}}</p>
        </div>
      </div>
      <p class="following-link" align="center" ng-show="!userFavoriteMovie">You don't have a favorite movie yet
        <br> Try rating a movie</p>
    </div>
    <div class="uk-width-1-2">
      <p>Watched Genres</p>
      <img src="/images/watched.jpg" width="300" height="400">
    </div>
  </div>
  <hr class="uk-divider-icon">
  <div class="section">
    <div class="section-title uk-text-large">
      {{user.name}}'s Lists
    </div>

    <div uk-slider>
      <div class="uk-position-relative uk-visible-toggle uk-light">
        <ul class="uk-slider-items uk-child-width-1-5@s">
          <li ng-repeat="list in user.lists">
            <div class="uk-card uk-grid-match uk-card-default uk-card-hover list-info" >
              <a ng-href="user/list/{{list._id}}"> <img class="list-image" style="background-image: url({{ getListPoster(list) }})" /></a>
              <p class="uk-align-center uk-text-uppercase list-name" align="center"> {{list.title}}</p>
            </div>
          </li>
        </ul>
        <a class="slider-button-list uk-position-top-left uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
        <a class="slider-button-list uk-position-top-right uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
      </div>

      <ul class="slider-page uk-pagination uk-flex-center" ng-show="user.lists.length > 5">
        <li ng-repeat="n in range(user.lists.length / 5)"><a href="#" uk-slider-item="{{(n-1) * 5}}" >{{n}}</a></li>
      </ul>
    </div>
  </div>
</li>
