<li>
  <div uk-switcher="animation: uk-animation-fade" class="button-switcher">
    <button class="uk-button uk-button-default" type="button" uk-icon="grid"></button>
  </div>
  <ul class="uk-switcher uk-margin">
    <li>
      <div class="uk-child-width-1-3@m" uk-grid>
        <div class="uk-card uk-card-primary" ng-repeat="rated in user.ratings">
          <div class="uk-card-media-top">
            <div class="uk-inline uk-dark">
              <div class="uk-visible-toggle">
                <a class="page-link" ng-click="goToMedia(rated._media)">
                  <img ng-src="{{getPoster(rated._media)}}" style="z-index:-1" alt="">
                </a>
                <div ng-if="canEdit()" class="uk-hidden-hover uk-overlay-default uk-position-cover">
                  <div class="uk-position-center">
                    <a href="" class="uk-icon-button uk-margin-small-right" uk-icon="pencil"></a>
                  </div>
                  <div id="rated-{{rated._id}}" uk-dropdown="pos: bottom-center; mode: click" style="z-index: 999">
                    <center>
                      <ul class="uk-iconnav rating">
                        <div ng-repeat="n in range('10')">
                          <a ng-if="n <= rated.rating" class="rating-star" ng-click="updateRated(rated,n)"></a>
                          <a ng-if="n > rated.rating" uk-icon="icon: star; ratio: .6" ng-click="updateRated(rated,n)"></a>
                        </div>
                      </ul>
                    </center>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="uk-card-body card-rated">
            <p class="uk-text">
              <a class="page-link" ng-click="goToMedia(rated._media)">{{rated._media.name}}</a>
            </p>
            <p class="uk-text uk-text-small uk-text-muted">
              <uk-text-bold style="color: #502274"> {{rated.rating}}
                <span class="rating-star"></span>
              </uk-text-bold>| {{formatDate(rated.date)}}</p>
          </div>
        </div>
      </div>
    </li>
  </ul>
</li>