<div>
    <p class="uk-text-medium bold">Top 5: Best Rated Tv Shows</p>
    <ul class="uk-list uk-list-large">
        <li ng-repeat="show in topRatedSeries">
          {{show}}
        </li>
    </ul>
</div>
<hr></hr>
<div>
    <p class="uk-text-medium bold">Top 5: Best Rated Movies</p>
    <ul class="uk-list uk-list-large">
        <li ng-repeat="show in topRatedSeries">
          {{show}}
        </li>
    </ul>
</div>


<div class="uk-width-1-2">
  <p>Watched Genres</p>
  <br>
  <canvas id="doughnut" class="chart chart-doughnut round-chart" chart-data="data" chart-colors="colors" chart-options="optionsGenres" chart-labels="labels"></canvas>
</div>
