<div class="profile">
  <!--Cover Content-->
  <div class="uk-background-cover" align="center" style="background-image: url({{profileBackground}})">
    <img class="profile-image" data-ng-src="{{getUserImage()}}" height="140px" >
    <p class="uk-text-large profile-name">{{ user.name }}</p>
    <div ng-if="!canEdit()" ng-hide="user.followed.following_id" class="follow-button" ng-click="follow(user)">
      <span uk-icon="icon: rss; ratio: 0.5"></span> Follow</div>
    <div ng-show="user.followed.following_id" class="follow-button" ng-click="unfollow(user)">
      <span uk-icon="icon: rss; ratio: 0.5"></span> Following </div>

    <p class="uk-text-small profile-username">@{{ user.username }}</p>
  </div>
  <!--Card Content-->
  <div class="uk-width-xxlarge uk-container profile-container">
    <div class="uk-card uk-card-small uk-card-default uk-card-body uk-container-center">
      <ul class="uk-tab" data-uk-tab="{connect:'#tab-id'}">
        <li  class="ng-class: {'uk-active': isCurrentTab('overview')}">
          <a>Overview</a>
        </li>
        <li>
          <a>Lists</a>
        </li>
        <li>
          <a>History</a>
        </li>
        <li>
          <a>Following</a>
        </li>
        <li >
          <a>Followers</a>
        </li>
        <li>
          <a>Statistics</a>
        </li>
        <li ng-show="canEdit()" class="ng-class: {'uk-active': isCurrentTab('settings')}">
          <a>Settings</a>
        </li>
      </ul>
      <ul id="tab-id" class="uk-switcher uk-margin">
        <!--Overview-->
        <ng-include src="'views/profile/_overview.html'" class="ng-class: {'uk-active': isCurrentTab('overview')}"></ng-include>

        <!--Lists-->
        <ng-include src="'views/profile/_lists.html'"></ng-include>

        <!--History-->
        <ng-include src="'views/profile/_history.html'"></ng-include>

        <!--Following-->
        <ng-include src="'views/profile/_following.html'"></ng-include>

        <!--Followers-->
        <ng-include src="'views/profile/_followers.html'"></ng-include>

        <!-- Statistics -->
        <ng-include src="'views/profile/_statistics.html'"></ng-include>

        <!--Settings-->
        <ng-include ng-if="canEdit()" src="'views/profile/_settings.html'" class="ng-class: {'uk-active': isCurrentTab('settings')}"></ng-include>
      </ul>
    </div>
  </div>
</div>
